    /* Color Variables */
$primary: #01A7FD;
$primary-disabled: #CEECFC;
$lightgrey: #f2f2f2;
$white: #ffffff;
$hover1-color: rgba(97, 55, 202, 0.09);
$hover2-color: #0F79AF;
$active1-color: rgba(110, 65, 226, 0.16);
$active2-color: #59C79F;
$focus1-color: rgba(17, 17, 17, 0.48);
$focus2-color: rgba(17, 17, 17, 0.48);

    /* Size Variables */
$widthContainer: 616px;
