@import '../../styles/main.scss';

.preview{

    &__header{
        font: 500 16px/24px 'Montserrat', sans-serif;
        margin-bottom: 20px;
    }

    &__user-data{
        font: 700 16px/24px 'Montserrat', sans-serif;
        margin-left: 16px;
    }

    &__children{
        margin-top: 60px;
    }

    &__child-data{
        list-style-type: none;
        //margin-left: 16px;
        padding: 0;
    }
}